.PlotArchivePage {
  margin-top: 9rem;
}

.p {
  width: 35vw;
  text-align: left;
  font-family: Menlo;
  font-size: 0.8rem;
  line-height: 1.5;
}

.h1 {
  text-align: left;
  font-size: 3rem;
  font-family: source-code-pro;
  color: #172713;
}
