.formTitle {
  width: 35vw;
  text-align: left;
  font-family: avenir;
  font-weight: bold;
  font-size: 1.12rem;
  line-height: 1.5;
  margin: 3rem 0rem 0rem 0rem;
}

.input {
  width: 60%;
}

.dropDown {
  width: 10%;
}
