.UserSettingsPage {
  margin-top: 9rem;
}

a {
  font-family: avenir;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.7rem;
  color: #172713;
}

b {
  font-family: Avenir;
  text-transform: uppercase;
  color: #172713;
}

.p {
  width: 35vw;
  text-align: left;
  font-family: Menlo;
  font-size: 0.8rem;
  line-height: 1.5;
}

.pLink {
  text-align: left;
  font-family: menlo;
  text-transform: none;
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #ff616b;
}

.pGrenadinePink {
  width: 35vw;
  text-align: left;
  font-family: Menlo;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #ff616b;
}

.h1 {
  text-align: left;
  font-size: 3rem;
  font-family: source-code-pro;
  color: #ff616b;
}

.h4 {
  text-align: left;
  color: #172713;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: Avenir;
  margin-bottom: 0.45rem;
  margin-top: 2rem;
}

.h4ExtraMargin {
  text-align: left;
  color: #172713;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: Avenir;
  margin-bottom: 0.45rem;
  margin-top: 3.1rem;
}

.Button {
  display: flex;
  text-align: left;
  margin: -4.71px -6px;
  width: fit-content;
}

.UpdateForm {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  gap: 3vmin;
  color: #ff616b;
  width: 100%;
}
